@media (min-width:1200px) and (max-width:1399px) {

  // navbar part start
  .navbar ul li {
    margin-left: 20px;
  }

  // navbar part end
  // tour categories part start

  .tour-category .category-bg .top-category h3 {
    font-size: 20px;
  }

  // tour categories part end
  // top tour part start
  .top-tour .top-tour-item .image .overlay a {
    font-size: 20px;
  }

  // top tour part end
  // tour details part start
  .tour-details .tour-description .right-sidebar .book-tour .book-box .qnt-number {
    width: 146px;
  }

  // tour details part end
}

@media (min-width:992px) and (max-width:1199.98px) {

  // top tour part start
  .top-tour .top-tour-item .image .overlay a {
    font-size: 17px;
  }

  // top tour part end
  // tour details part start
  .tour-details .tour-description .right-sidebar .book-tour .book-box .qnt-number {
    width: 116px;
  }

  .tour-details .tour-description .right-sidebar .book-tour .book-box .cart-input {
    width: 47px;
  }

  .tour-details .tour-description .right-sidebar .more-info ul li .info {
    padding-left: 76px;
  }

  .tour-details .tour-description .right-sidebar .more-info {
    padding: 20px;
  }

  // tour details part end
  // blog details part start
  .blog-details .blog-sidebar .sidebar-block {
    margin-left: 0;
  }

  // blog details part end
}

@media (min-width:768px) and (max-width:991.98px) {

  // banner part start
  .banner .banner-text h1 {
    font-size: 89px;
    line-height: 102px;
  }

  // banner part end
  // blog part start
  .blog .view-more {
    position: static;
  }

  .blog .view-more {
    text-align: left !important;
  }

  .blog .view-more a {
    margin-bottom: 40px;
    text-align: left;
  }

  .blog .blog-item {
    margin-bottom: 24px;
  }

  .blog .blog-item .image {
    height: 310px;
  }

  // blog part end
  // footer part start
  footer .important-link {
    padding: 30px 0;
  }

  // footer part end
  // tour details part start
  .tour-details .tour-banner .tour-slider {
    height: 350px;
  }

  .tour-details .tour-description .left-sidebar .title h2 {
    font-size: 28px;
  }

  .tour-details .tour-description .left-sidebar .preferable-tour .destination-item .image {
    height: 350px;
  }

  .tour-details .tour-description .right-sidebar .input-groups {
    margin-bottom: 14px;
  }

  .tour-details .tour-description .right-sidebar .count-box {
    margin-top: 0 !important;
  }

  .tour-details .tour-description .right-sidebar .book-tour .book-box .qnt-number {
    margin-bottom: 14px;
  }

  // tour details part end
  // cart page start
  .cart-page .cart-total-price {
    margin-top: 30px;
  }

  // cart page end
  // checkout page start
  .checkout-page .checkout-details h4 {
    padding-top: 40px;
  }

  // checkout page end
  // contact part start
  .contact-us-page .contact-title {
    padding-top: 40px;
  }

  // contact part end
}

@media (min-width:576px) and (max-width:767.98px) {

  // banner part start
  .banner .banner-text h1 {
    font-size: 56px;
    line-height: 65px;
  }

  .banner .banner-text {
    padding-top: 140px;
  }

  .banner .banner-slider {
    height: 588px;
  }

  .banner .right {
    display: none !important;
  }

  .banner .left {
    display: none !important;
  }

  .banner-bottom .search-form .form-select {
    margin-bottom: 14px;
  }

  .banner-bottom .search-form input {
    margin-bottom: 14px;
  }

  // banner part end
  // about part start
  .about-part .col-lg-6.ps-0 {
    padding-left: 12px !important;
  }

  // about part end
  // tour category part start
  .common-title h4 {
    font-size: 14px;
  }

  .tour-category .category-bg .top-category h3 {
    margin-bottom: 40px;
  }

  // tour category part end
  // top tour part start
  .top-tour .top-tour-item .image .overlay a {
    font-size: 16px;
  }

  .top-tour .top-tour-item .image p {
    top: 20px;
    left: 20px;
  }

  .top-tour .top-tour-item .image p {
    padding: 4px 13px;
    font-size: 14px;
  }

  .top-tour .top-tour-item .image .overlay {
    padding: 20px;
  }

  // top tour part end
  // top seller part start
  .tour-destination .view-more {
    position: static;
  }

  .tour-destination .view-more {
    text-align: left !important;
  }

  .tour-destination .view-more a {
    margin-bottom: 40px;
    text-align: left;
  }

  .tour-destination .destination-item .image {
    height: 332px;
  }

  // top seller part end
  // blog part start
  .blog .view-more {
    position: static;
  }

  .blog .view-more {
    text-align: left !important;
  }

  .blog .view-more a {
    margin-bottom: 40px;
    text-align: left;
  }

  .blog .blog-item {
    margin-bottom: 24px;
  }

  .blog .blog-item .image {
    height: 310px;
  }

  // blog part end
  // footer part start
  footer .important-link {
    padding: 30px 0;
  }

  footer .subscribe {
    padding-top: 30px;
  }

  // footer part end
  // footer bottom part start
  .footer-bottom .branding {
    text-align: left !important;
  }

  .footer-bottom {
    line-height: 26px;
    padding: 20px 0;
  }

  // footer bottom part end
  // tour details part start
  .tour-details .tour-banner .tour-slider {
    height: 350px;
  }

  .tour-details .tour-description .left-sidebar .title h2 {
    font-size: 28px;
  }

  .tour-details .tour-description .left-sidebar .preferable-tour .destination-item .image {
    height: 350px;
  }

  .tour-details .tour-description .right-sidebar .input-groups {
    margin-bottom: 14px;
  }

  .tour-details .tour-description .right-sidebar .count-box {
    margin-top: 0 !important;
  }

  .tour-details .tour-description .right-sidebar .book-tour .book-box .qnt-number {
    margin-bottom: 14px;
  }

  // tour details part end
  // cart page start
  .cart-page .cart-right {
    text-align: left !important;
    margin-top: 14px;
  }

  .cart-page .cart-total-price {
    margin-top: 30px;
  }

  // cart page end
  // checkout page start
  .checkout-page .checkout-details h4 {
    padding-top: 40px;
  }

  // checkout page end
  // contact part start
  .contact-us-page .contact-title {
    padding-top: 40px;
  }

  // contact part end
}

@media (max-width:575.98px) {

  // banner part start
  .banner .banner-text h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .banner .banner-slider {
    height: 588px;
  }

  .banner .right {
    display: none !important;
  }

  .banner .left {
    display: none !important;
  }

  .banner-bottom .search-form .form-select {
    margin-bottom: 14px;
  }

  .banner-bottom .search-form input {
    margin-bottom: 14px;
  }

  // banner part end
  // about part start
  .about-part .col-lg-6.ps-0 {
    padding-left: 12px !important;
  }

  // about part end
  // tour category part start
  .common-title h4 {
    font-size: 14px;
  }

  .tour-category .category-bg .top-category h3 {
    margin-bottom: 40px;
  }

  // tour category part end
  // top tour part start
  .top-tour .top-tour-item .image .overlay a {
    font-size: 16px;
  }

  .top-tour .top-tour-item .image p {
    top: 20px;
    left: 20px;
  }

  .top-tour .top-tour-item .image p {
    padding: 4px 13px;
    font-size: 14px;
  }

  .top-tour .top-tour-item .image .overlay {
    padding: 20px;
  }

  // top tour part end
  // top seller part start
  .tour-destination .view-more {
    position: static;
  }

  .tour-destination .view-more {
    text-align: left !important;
  }

  .tour-destination .view-more a {
    margin-bottom: 40px;
    text-align: left;
  }

  .tour-destination .destination-item .image {
    height: 332px;
  }

  // top seller part end
  // blog part start
  .blog .view-more {
    position: static;
  }

  .blog .view-more {
    text-align: left !important;
  }

  .blog .view-more a {
    margin-bottom: 40px;
    text-align: left;
  }

  .blog .blog-item {
    margin-bottom: 24px;
  }

  .blog .blog-item .image {
    height: 310px;
  }

  // blog part end
  // footer part start
  footer .important-link {
    padding: 30px 0;
  }

  footer .subscribe {
    padding-top: 30px;
  }

  // footer part end
  // footer bottom part start
  .footer-bottom .branding {
    text-align: left !important;
  }

  .footer-bottom {
    line-height: 26px;
    padding: 20px 0;
  }

  // footer bottom part end
  // bread crumb part start
  .bread-crumb {
    text-align: left !important;
  }

  .bread-crumb .text-end {
    text-align: left !important;
  }

  .bread-crumb ul {
    padding-top: 14px;
  }

  .bread-crumb ul li:first-child {
    padding-left: 0;
  }

  // bread crumb part end
  // tour details part start
  .tour-details .tour-banner .tour-slider {
    height: 350px;
  }

  .tour-details .tour-description .left-sidebar .title h2 {
    font-size: 28px;
  }

  .tour-details .tour-description .left-sidebar .preferable-tour .destination-item .image {
    height: 350px;
  }

  .tour-details .tour-description .right-sidebar .input-groups {
    margin-bottom: 14px;
  }

  .tour-details .tour-description .right-sidebar .count-box {
    margin-top: 0 !important;
  }

  .tour-details .tour-description .right-sidebar .book-tour .book-box .qnt-number {
    margin-bottom: 14px;
  }

  // tour details part end
  // cart page start
  .cart-page .cart-right {
    text-align: left !important;
    margin-top: 14px;
  }

  .cart-page .cart-total-price {
    margin-top: 30px;
  }

  // cart page end
  // checkout page start
  .checkout-page .checkout-details h4 {
    padding-top: 40px;
  }

  // checkout page end
  // contact part start
  .contact-us-page .contact-title {
    padding-top: 40px;
  }

  // contact part end
  // content page start
  .content-page .image .overlay h1 {
    font-size: 20px;
  }

  .content-page .image .overlay {
    padding-bottom: 60px !important;
  }

  .content-page .image {
    height: 370px;
  }

  // content page end
  // tour list part start
  
  // tour list part end
}